.container{
    max-width: 100%;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    background-color: var(--color-grey-2);
}

.app {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.section-head{
    width: 60%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-user{
    width: 100%;
    height: 80px;
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.img-user{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.div-esp{
    width: 150px;
    height: 62px;
    display: flex;
    flex-direction: column;
    position: relative;
    right: 300px;
    top: 51px;
    gap: 5px;
}

.name{
    width: 159px;
    height: 29px;
    color: var(--color-grey-7);
}

.cargo{
    width: 99px;
    height: 19px;
    font-size: smaller;
    color: var(--color-grey-6);
}

.form-buttons{
    display: flex;
    position: relative;
    right: 15px;
    top: 55px;
    gap: 12px;
}

.button-email{
    width: 84px;
    height: 38px;
    background-color: var(--color-grey-3);
    color: var(--color-grey-7);
    border: solid 1px var(--color-grey-3);
    border-radius: 4px;
}

.button-email:hover{

    background-color: var(--color-brand-1);
}

.button-user{
    width: 169px;
    height: 38px;
    background-color: var(--color-grey-3);
    color: var(--color-grey-7);
    border: solid 1px var(--color-grey-3);
    border-radius: 4px;
}

.button-user:hover{

    background-color: var(--color-brand-1);
}

.section-cards{
    width: 60%;
    height: 100%;
}

.ul-card{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
}

.li-card{
    width: 381px;
    height: 243px;
    border: solid 1px var(--color-grey-7);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 32px;
    margin-bottom: 15px;
}

.li-card:hover{
    background-color: var(--color-grey-1);
}

.card-title{
    width: 263px;
    height: 24px;
    font-size: large;
    color: var(--color-grey-7);
    position: relative;
    right: 30px;
}

.card-text{
    width: 327px;
    height: 63px;
    font-size: smaller;
    color: var(--color-grey-6);
}

.form-button{
    width: 86%;
    height: 5%;
}

.card-button-repository{
    width: 93px;
    height: 28px;
    color: var(--color-grey-7);
    background-color: var(--color-grey-2);
    border: solid 1px var(--color-grey-7);
    border-radius: 4px;
}

.card-button-repository:hover{
    background-color: var(--color-brand-1);
}

.card-button-demo{
    width: 56px;
    height: 28px;
    color: var(--color-grey-7);
    background-color: var(--color-grey-2);
    border: solid 1px var(--color-grey-7);
    border-radius: 4px;
}

.card-button-demo:hover{
    background-color: var(--color-brand-1);
}